<h1>CRUD de categorias e postagens em symfony</h1>
<div class="card mt-5">
    <div class="card-body">
        <h3>Esse projeto consiste em criar uma estrutura CRUD (create, read, update e delete) para os modelos de categorias e postagens, contendo também a relação entre eles.</h3><br>
        <h4>Para isso é usado primordialmente o Node js, com o express para utilizar alguns módulos. Estes, são como o sequelize que permite a interação com o banco de dados, e o template engine handlebars.</h4>
    </div>
</div>